* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.background {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

.dark {
  background-color: #242424;
}

.theme-switcher {
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  width: 70px;

  transform: scale(1.5);
}

.label .ball {
  background-color: white;
  border-radius: 50px;
  position: absolute;

  height: 26px;
  width: 26px;

  transform: translate(0px);
  transition: transform 0.18s linear;
}

.checkbox {
  opacity: 0;
}

.checkbox:checked + .label .ball {
  transform: translateX(35px);
}